.navbar {
  background-color: oklch(78.927% 0.08321 221.059);
  padding: 10px;
  display: flex;
  gap: 12px;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.navbar .nav-link:first-child {
  margin-right: auto;
}

.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
